.mainDiv {
  text-align: center;
  background-color: #5682d8;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.transparentTable{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  display:table;
  text-align:left;
}

.header {
  color: #000!important;
  background-color: #c5c5c5!important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tdAlignRight{
  text-align: right;
  padding-right: 10px;
}